body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    margin: 0;
}

.circle-border-cat {
    border: 1px solid black;
    padding: 20px;
    border-radius: 50%;
    background-color: #FBE9E7; 
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

img {
    max-width: 30%;
    height: auto;
}
